@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> signInManager;

@if (signInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Booking" asp-action="Create">Booking</a>
    </li>
}