@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Welcome</h1>

    <p class="fs-4 mt-4">
        Hello everyone, my nickname is <strong>vladyslavplus</strong>.
        This is my first mini-project built using <strong>ASP.NET MVC</strong>, <strong>MSSQL</strong>, <strong>HTML</strong>, <strong>CSS</strong> and <strong>Javascript</strong>.
    </p>

    <p class="fs-4 mt-3">
        This hotel management project implements CRUD operations for hotel bookings, such as creating, editing, and deleting reservations.
        Currently, it does not calculate booking prices or include payment services. However, I’ve added authentication features (login and registration), as well as profile management options to change passwords and upload or delete avatars.
    </p>

    <p class="fs-4 mt-4">I hope you enjoy exploring my project!</p>

</div>
